<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.xhu.entity.Role">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>

    <select id="searchRole" parameterType="java.lang.Integer" resultType="java.lang.String">
        select trim(role_name)
        from role
        where user_id = #{userId}
    </select>

    <update id="changeRole" parameterType="Role">
        update role
        set role_name=#{roleName}
        where user_id = #{userId}
    </update>
</mapper>